<% include partials/header.ejs %>
    <% include partials/menu.ejs %>

        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="well well-sm">
                        <form class="form-horizontal" method="post" action="/admin/cakeAdd" enctype="multipart/form-data">
                            <fieldset>
                                <legend class="text-center header">Add cake details</legend>
                                <% if(typeof message !== 'undefined') { %>
                                    <p>
                                        <%= message %>
                                    </p>
                                    <% } %>

                                        <div class="form-group">
                                            <span class="col-md-1 col-md-offset-2 text-center"><i
                                                        class="fa fa-birthday-cake"></i></span>
                                            <div class="col-md-8">
                                                <label for="cakename">Cake Name</label>

                                                <input id="cakename" name="cakename" type="text" placeholder="cake Name" class="form-control">
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <span class="col-md-1 col-md-offset-2 text-center"><i
                                                        class="fa fa-birthday-cake"></i></span>

                                            <div id="fdiv" class="col-md-8">
                                                <label for="flavourname">Flavour Name</label>
                                                <select class="form-control" id="flavourname">
                                                        <% fdata.forEach(function(data){%>
                                                        <option><%= data.flavour_name %>
                                                            <%})%>
                                                        </option>

                                                    </select>
                                            </div>
                                        </div>



                                        <div class="form-group">
                                            <span class="col-md-1 col-md-offset-2 text-center"><i
                                                        class="fa fa-birthday-cake"></i></span>
                                            <div class="col-md-8">
                                                <label for="flavourtype">Flavour Type</label>
                                                <select class="form-control" id="flavourtype" name="flavourtype">
                                                        <% fdata.forEach(function(data){%>
                                                        <option><%= data.flavour_type %>
                                                            <%})%>
                                                    </select>
                                            </div>
                                        </div>

                                        <div class="form-group">
                                            <span class="col-md-1 col-md-offset-2 text-center"><i
                                                        class="fa fa-birthday-cake"></i></span>
                                            <div class="col-md-8">
                                                <label for="size">Number of pound</label>

                                                <input id="size" name="size" type="text" placeholder="Cake Size" class="form-control">
                                            </div>
                                        </div>


                                        <div class="form-group">
                                            <span class="col-md-1 col-md-offset-2 text-center"><i
                                                        class="fa fa-birthday-cake"></i></span>
                                            <div class="col-md-8">
                                                <label for="cakeimage">Update Image of Cake</label>
                                                <p style="color: red">
                                                    <%= typeof msg != 'undefined' ? msg:'' %>
                                                </p>
                                                <input id="cakeimage" name="cakeimage" type="file" placeholder="cake image" class="form-control">

                                            </div>
                                        </div>

                                        <div class="form-group">
                                            <span class="col-md-1 col-md-offset-2 text-center"><i
                                                        class="fa fa-pencil-square-o bigicon"></i></span>
                                            <div class="col-md-8">
                                                <textarea class="form-control" id="desc" name="desc" placeholder="Description of cake" rows="7"></textarea>
                                            </div>
                                        </div>

                                        <div class="form-group">
                                            <div class="col-md-12 text-center">
                                                <button type="submit" class="btn btn-primary btn-lg">Submit</button>
                                            </div>
                                        </div>
                            </fieldset>
                        </form>
                    </div>
                </div>
            </div>
        </div>

        <input id="flavourid" name="flavourid" type="text" placeholder="cake Name" class="form-control" hidden>
        <script src="/js/library/jquery-3.3.0.min.js"></script>
        <script>
            /////////////////delete profession
            $('#fdiv').on('change', '#flavourname', function() {
                getFlavourID();
            })

            // function onSelectId() {
            //     GetSelectedValue();
            // }

            function getFlavourID() {
                var e = document.getElementById("flavourname");
                var fln = e.options[e.selectedIndex].value;
                alert(fln);
                // document.getElementById("result").innerHTML = result;
            }

            function GetSelectedText() {
                var e = document.getElementById("flavourname");
                var result = e.options[e.selectedIndex].text;

                document.getElementById("result").innerHTML = result;
            }
        </script>



        <% include partials/footer.ejs %>