<% include partials/header.ejs %>
<% include partials/menu.ejs %>
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="well well-sm">

                <table class="table">
                    <thead>
                        <tr>
                            <th scope="col">Cake ID</th>
                            <th scope="col">Cake Name</th>
                            <th scope="col">Cake Image</th>
                            <th scope="col">Flavour Name</th>
                            <th scope="col">Update</th>
                            <th scope="col">Delete</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <th scope="row">1</th>
                            <td>Mark</td>
                            <td>Otto</td>
                            <td>@mdo</td>
                            <td><button type="button" class="btn btn-primary">Update</button></td>
                            <td><button type="button" class="btn btn-danger">Delete</button></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
<% include partials/footer.ejs %>