<!-- footer -->
<footer id="aa-footer">
    <!-- footer bottom -->
    <div class="aa-footer-top">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="aa-footer-top-area">
                        <div class="row">
                            <div class="col-md-3 col-sm-6">
                                <div class="aa-footer-widget">
                                    <h3>Main Menu</h3>
                                    <ul class="aa-footer-nav">
                                        <li><a href="/user/dashboard">Home</a></li>
                                        <li><a href="/user/product">Browse Cake</a></li>
                                        <li><a href="/user/checkout">Checkout</a></li>
                                        <li><a href="/user/order">View Order</a></li>
                                        <li><a href="/user/help">Help</a></li>
                                    </ul>
                                </div>
                            </div>
                            <div class="col-md-3 col-sm-6">
                                <div class="aa-footer-widget">
                                    <div class="aa-footer-widget">
                                        <h3>Knowledge Base</h3>
                                        <ul class="aa-footer-nav">
                                            <li><a href="#">Delivery</a></li>
                                            <li><a href="#">Returns</a></li>
                                            <li><a href="#">Services</a></li>
                                            <li><a href="#">Discount</a></li>
                                            <li><a href="#">Special Offer</a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-3 col-sm-6">
                                <div class="aa-footer-widget">
                                    <div class="aa-footer-widget">
                                        <h3>Useful Links</h3>
                                        <ul class="aa-footer-nav">
                                            <li><a href="#">Site Map</a></li>
                                            <li><a href="#">Search</a></li>
                                            <li><a href="#">Advanced Search</a></li>
                                            <li><a href="#">Suppliers</a></li>
                                            <li><a href="#">FAQ</a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-3 col-sm-6">
                                <div class="aa-footer-widget">
                                    <div class="aa-footer-widget">
                                        <h3>Contact Us</h3>
                                        <address>
                                            <p>Kathmandu, Nepal </br>
                                                 Dillibazar</p>
                                            <p><span class="fa fa-phone"></span>+977 9860606737</p>
                                            <p><span class="fa fa-envelope"></span>reshav2017@gmail.com</p>
                                        </address>
                                        <div class="aa-footer-social">
                                            <a href="#"><span class="fa fa-facebook"></span></a>
                                            <a href="#"><span class="fa fa-twitter"></span></a>
                                            <a href="#"><span class="fa fa-google-plus"></span></a>
                                            <a href="#"><span class="fa fa-youtube"></span></a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- footer-bottom -->
    <div class="aa-footer-bottom">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="aa-footer-bottom-area">
                        <p>Designed by Yummy group</p>
                        <div class="aa-footer-payment">
                            <span class="fa fa-cc-mastercard"></span>
                            <span class="fa fa-cc-visa"></span>
                            <span class="fa fa-paypal"></span>
                            <span class="fa fa-cc-discover"></span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</footer>
<!-- / footer -->

<!-- jQuery library -->
<script src="/dashboard/js/jquery1.11.3.js"></script>

<!-- Include all compiled plugins (below), or include individual files as needed -->
<script src="/dashboard/js/bootstrap.js"></script>
<!-- SmartMenus jQuery plugin -->
<script type="text/javascript" src="/dashboard/js/jquery.smartmenus.js"></script>
<!-- SmartMenus jQuery Bootstrap Addon -->
<script type="text/javascript" src="/dashboard/js/jquery.smartmenus.bootstrap.js"></script>
<!-- To Slider JS -->
<script src="/dashboard/js/sequence.js"></script>
<script src="/dashboard/js/sequence-theme.modern-slide-in.js"></script>
<!-- Product view slider -->
<script type="text/javascript" src="/dashboard/js/jquery.simpleGallery.js"></script>
<script type="text/javascript" src="/dashboard/js/jquery.simpleLens.js"></script>
<!-- slick slider -->
<script type="text/javascript" src="/dashboard/js/slick.js"></script>
<!-- Price picker slider -->
<!-- Jquery JS-->
<!-- <script src="/register/vendor/jquery/jquery.min.js"></script> -->
<!-- Vendor JS-->
<script src="/register/vendor/select2/select2.min.js"></script>
<script src="/register/vendor/datepicker/moment.min.js"></script>
<script src="/register/vendor/datepicker/daterangepicker.js"></script>
<!-- Main JS-->
<script src="/register/js/global.js"></script>
<!-- Custom js -->
<script src="/dashboard/js/rangeslider.js"></script>
<script src="/dashboard/js/custom.js"></script>
<script src="/js/library/requirejs.js"></script>
<script src="/js/custom/config.js"></script>
<!--//data-main='/js/custom/config.js' -->
<script>
    require(['/js/custom/config.js'], function () {
        require(['/js/custom/datatransaction.js']);
        require(['/js/custom/eventListener.js']);
    })

</script>

<script src="https://apis.google.com/js/client:platform.js" async defer></script>
<script src="/js/library/googleAuth.js"></script>


<!-- <script src="/js/library/logouttimer.js"></script> -->