<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Yummybakery | Home</title>
      
    <meta name="google-signin-client_id"
        content="915969573855-vjr1qlcc9pnevsvp0gnlc4lg5jqk508o.apps.googleusercontent.com">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css">
    <!-- Font awesome -->
    <link href="/dashboard/css/font-awesome.css" rel="stylesheet">
    <!-- Bootstrap -->
    <link href="/dashboard/css/bootstrap.css" rel="stylesheet">
    <!-- SmartMenus jQuery Bootstrap Addon CSS -->
    <link href="/dashboard/css/jquery.smartmenus.bootstrap.css" rel="stylesheet">
    <!-- Product view slider -->
    <link rel="stylesheet" type="text/css" href="/dashboard/css/jquery.simpleLens.css">
    <!-- slick slider -->
    <link rel="stylesheet" type="text/css" href="/dashboard/css/slick.css">
    <!-- price picker slider -->
    <link rel="stylesheet" type="text/css" href="/dashboard/css/nouislider.css">
    <!-- Theme color -->
    <link id="switcher" href="/dashboard/css/default-theme.css" rel="stylesheet">
    <!-- <link id="switcher" href="css/theme-color/bridge-theme.css" rel="stylesheet"> -->
    <!-- Top Slider CSS -->
    <link href="/dashboard/css/sequence-theme.modern-slide-in.css" rel="stylesheet" media="all">

    <!-- Main style sheet -->
    <link href="/dashboard/css/style.css" rel="stylesheet">


    <!-- Google Font -->
    <link href='https://fonts.googleapis.com/css?family=Lato' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Raleway' rel='stylesheet' type='text/css'>

    <!-- Icons font CSS-->
    <link href="/register/vendor/mdi-font/css/material-design-iconic-font.min.css" rel="stylesheet" media="all">
    <link href="/register/vendor/font-awesome-4.7/css/font-awesome.min.css" rel="stylesheet" media="all">
    <!-- Font special for pages-->
    <!-- <link href="https://fonts.googleapis.com/css?family=Roboto:100,100i,300,300i,400,400i,500,500i,700,700i,900,900i" -->
    <!-- rel="stylesheet"> -->

    <!-- Vendor CSS-->
    <link href="/register/vendor/select2/select2.min.css" rel="stylesheet" media="all">
    <link href="/register/vendor/datepicker/daterangepicker.css" rel="stylesheet" media="all">

</head>

<body onload="" onmousemove="">
    <!-- wpf loader Two -->
    <!-- <div id="wpf-loader-two">
        <div class="wpf-loader-two-inner">
            <span>Loading</span>
              <i class="fa fa-spinner fa-pulse fa-3x fa-fw"></i>
                <span class="sr-only">Loading...</span> 
          
        </div>
    </div> -->
    <!-- / wpf loader Two -->
    <!-- SCROLL TOP BUTTON -->
    <a class="scrollToTop" href="#"><i class="fa fa-chevron-up"></i></a>
    <!-- END SCROLL TOP BUTTON -->

    <!-- Start header section -->
    <header id="aa-header">
        <!-- start header top  -->
        <div class="aa-header-top">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <div class="aa-header-top-area">
                            <!-- start header top left -->
                            <div class="aa-header-top-left">

                                <!-- start cellphone -->
                                <div class="cellphone hidden-xs">
                                    <p><span class="fa fa-phone"></span>9860355983</p>
                                </div>
                                <!-- / cellphone -->
                            </div>
                            <!-- / header top left -->
                            <div class="aa-header-top-right">
                                <ul class="aa-head-top-nav-right">
                                    <% if(typeof session.customerEmail !== 'undefined') { %>
                                    <li><a href="/user/profile" style="color: green;"><%- session.customerEmail %></a>
                                    </li>
                                    <li><a href="/user/profile">My Account</a></li>
                                    <!-- <li class="hidden-xs"><a href="wishlist.html">Wishlist</a></li> -->
                                    <li class="hidden-xs"><a href="/user/shopping-cart">My Cart</a></li>
                                    <li class="hidden-xs"><a href="/user/checkout">Checkout</a></li>
                                    <!-- <li class="hidden-xs"><a href="/user/logout">Logout</a></li> -->
                                    <li class="hidden-xs"><a href="javascript:void(0);" onclick="onSignOut();">Logout</a></li>
                                    <!-- <form method="POST" action="/logout">
                                        <button>Logout</button>
                                    </form> -->
                                    <div style="display: none;"><div class="g-signin2" id="gSignIn"></div></div>
                                    <% }else{ %>
                                    <li class="hidden-xs"><a href="/user/register">Register</a></li>
                                    <li  class="hidden-xs"><a href="/user/login">Login</a></li>
                                 <% } %>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- / header top  -->

        <!-- start header bottom  -->
        <div class="aa-header-bottom">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <div class="aa-header-bottom-area">
                            <!-- logo  -->
                            <div class="aa-logo">
                                <!-- Text based logo -->
                                <a href="/user/dashboard">
                                    <!-- <span class="fa fa-birthday-cake"> </span> -->
                                   <span><img src="/dashboard/img/cover/logo1.png"></span><p>Yummy<strong>CAKE</strong> <span>Your Cake Partner</span></p></a>
                                <!-- img based logo -->
                                <!-- <a href="index.html"><img src="img/logo.jpg" alt="logo img"></a> -->
                            </div>
                            <!-- / logo  -->
                            <!-- cart box -->
                            <div class="aa-cartbox">
                                <% if(locals.carttemp){ %>
                                <a class="aa-cart-link" href="/user/shopping-cart">
                                    <!-- <span class="fa fa-shopping-basket"></span> -->
                                    <i class="fas fa-cart-arrow-down"></i>
                                    <span class="aa-cart-title">Basket (CART)</span>
                                    <span class="aa-cart-notify">
                                        <%= locals.carttemp.totalQty %></span>
                                </a>
                                <% }%>

                            </div>
                            <!-- / cart box -->
                            <!-- search box -->
                            <div class="aa-search-box">
                                <div class="active-pink-3 active-pink-4 mb-4">
                                    <form method="post" action="/user/cakeSearchQuery">
                                        <input id="search_form" class="form-control" name="cn" type="text" placeholder="Search"
                                            aria-label="Search">
                                        <button id="searchbtn" type="submit"><span class="fa fa-search"></span></button>
                                    </form>
                                </div>
                            </div>
                            <!-- / search box -->
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- / header bottom  -->
    </header>

</body>
<!-- Jquery JS-->



<script src="/register/vendor/jquery/jquery.min.js"></script>
<!-- Vendor JS-->
<script src="/register/vendor/select2/select2.min.js"></script>
<script src="/register/vendor/datepicker/moment.min.js"></script>
<script src="/register/vendor/datepicker/daterangepicker.js"></script>

<!-- Main JS-->
<script src="/register/js/global.js"></script>
<!-- / header section -->