<% include partials/header.ejs %>
<% include partials/menu.ejs %>

<!-- catg header banner section -->
<section id="aa-catg-head-banner">
    <img src="/dashboard/img/cover/cover9.png" alt="fashion img">
    <div class="aa-catg-head-banner-area">
        <div class="container">
            <div class="aa-catg-head-banner-content">
                <h2>Checkout Page</h2>
                <ol class="breadcrumb">
                    <li><a href="index.html">Home</a></li>
                    <li class="active">Checkout</li>
                </ol>
            </div>
        </div>
    </div>
</section>
<!-- / catg header banner section -->

<!-- Cart view section -->
<section id="checkout">
    <div class="container">
        <div class="row">
            <% if(!session.customerEmail){%>
            <div class="col-md-8">
                <div class="checkout-area">
                    <div class="checkout-left">
                        <div class="panel-group" id="accordion">

                            <!-- Login section -->
                            <div class="panel panel-default aa-checkout-login">
                                <div class="panel-heading">
                                    <h4 class="panel-title">
                                        <a class="nib" data-toggle="collapse" data-parent="#accordion"
                                            href="#collapseTwo">
                                            Client Login
                                        </a>
                                    </h4>
                                </div>
                                <div id="collapseTwo" class="panel-collapse collapse in">
                                    <div class="panel-body">
                                        <p>PLEASE!!! <strong>Register</strong>: For new account</p>
                                        <p>PLEASE!!! <strong>Login</strong> If your account is already created</p>
                                        <div style="text-align: center" class="aa-product-review-area">
                                            <a href="/user/login"> <button type="submit" class="loginbtn"
                                                    id="login-button">Login</button></a>
                                            <a href="/user/register"><button type="submit" class="loginbtn"
                                                    class="btn btn-default aa-review-submit">Register</button></a>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div> <%} %>

            <% if(session.customerEmail){%>
            <!-- //------------------------------ -->
            <div class="col-md-12">
                <div class="checkout-area">
                    <form action="">
                        <div class="row">
                            <!-- ///left panel for product delivery detail -->
                            <div class="col-md-8">
                                <div class="checkout-left">
                                    <div class="panel-group" id="accordion">

                                        <!-- Coupon section -->
                                        <div class="panel panel-default aa-checkout-coupon">
                                            <div class="panel-heading">
                                                <h4 class="panel-title">
                                                    <a class="nib" data-toggle="collapse" data-parent="#accordion"
                                                        href="#collapseOne">
                                                        Have a Coupon?
                                                    </a>
                                                </h4>
                                            </div>
                                            <div id="collapseOne" class="panel-collapse collapse">
                                                <div class="panel-body">
                                                    <input type="text" placeholder="Coupon Code" class="aa-coupon-code">
                                                    <input type="submit" value="Apply Coupon" class="aa-browse-btn">
                                                </div>
                                            </div>
                                        </div>

                                        <!-- Billing Details -->
                                        <div class="panel panel-default aa-checkout-billaddress">
                                            <div class="panel-heading">
                                                <h4 class="panel-title">
                                                    <a class="nib" data-toggle="collapse" data-parent="#accordion"
                                                        href="#collapseThree">
                                                       Review and Confirm Your Order
                                                    </a>
                                                </h4>
                                            </div>
                                            <div id="collapseThree" class="panel-collapse collapse in">
                                                <div class="panel-body">

                                                  </div>

                                            </div>
                                        </div>
                                        <!-- Shipping Address -->
                                        <div class="panel panel-default aa-checkout-billaddress">
                                            <div class="panel-heading">
                                                <h4 class="panel-title">
                                                    <a class="nib" data-toggle="collapse" data-parent="#accordion"
                                                        href="#collapseFour">
                                                        Shippping Address
                                                    </a>
                                                </h4>
                                            </div>
                                            <div id="collapseFour" class="panel-collapse collapse">
                                                <div class="panel-body">
                                                    <form>
                                                        <div class="row">
                                                            <div class="col-md-12">
                                                                <label>Alias</label>
                                                                <div class="aa-checkout-single-bill">
                                                                    <select>
                                                                        <option >Office</option>
                                                                        <option>Friend</option>
                                                                        <option >Cousin</option>
                                                                        <option >School</option>
                                                                        <option >Colege</option>
                                                                        <option >Other</option>
                                                                    </select>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    <div class="row">
                                                        <div class="col-md-6">
                                                            <label>Receiver Name</label>
                                                            <div class="aa-checkout-single-bill">
                                                                <input type="text" id="receiverName" placeholder="First Name*">
                                                            </div>
                                                        </div>
                                                        <div class="col-md-6">
                                                            <div class="aa-checkout-single-bill">
                                                                    <label>Last Name</label>
                                                                <input type="text" placeholder="Last Name*">
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="row">
                                                        <div class="col-md-6">
                                                            <div class="aa-checkout-single-bill">
                                                                <label>Mobile Number</label>
                                                                <input type="email" placeholder="Mobile Number*">
                                                            </div>
                                                        </div>
                                                        <div class="col-md-6">
                                                            <div class="aa-checkout-single-bill">
                                                                <label>Alternate Mobile Number</label>
                                                                <input type="tel" placeholder="Alternate Mobile Number*">
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="row">
                                                        <div class="col-md-6">
                                                            <div class="aa-checkout-single-bill">
                                                                <label>Email Address</label>
                                                                <input type="email" placeholder="Email Address*">
                                                            </div>
                                                        </div>
                                                        <div class="col-md-6">
                                                            <div class="aa-checkout-single-bill">
                                                                    <label>District</label>
                                                                <select>
                                                                    <option>Kathmandu</option>
                                                                    <option>Bhaktapur</option>
                                                                    <option>Lalitpur</option>
                                                                    <option>Kritipur</option>
                                                                    <option>Colege</option>
                                                                    <option>Other</option>
                                                                </select>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="row">
                                                        <div class="col-md-12">
                                                            <div class="aa-checkout-single-bill">
                                                                <label>Delivery Location*</label>
                                                                <textarea cols="8" rows="3">Full Address*</textarea>
                                                            </div>
                                                        </div>
                                                    </div>
                                                   </form>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <!-- //right panel for product checkout -->
                            <div class="col-md-4">
                                <div class="checkout-right">
                                    <h4>Order Summary</h4>
                                    <div class="aa-order-summary-area">
                                        <table class="table table-responsive">
                                            <thead>
                                                <tr>
                                                    <th>Product</th>
                                                    <th>Total</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr>
                                                    <td>T-Shirt <strong> x 1</strong></td>
                                                    <td>$150</td>
                                                </tr>
                                                <tr>
                                                    <td>Polo T-Shirt <strong> x 1</strong></td>
                                                    <td>$250</td>
                                                </tr>
                                                <tr>
                                                    <td>Shoes <strong> x 1</strong></td>
                                                    <td>$350</td>
                                                </tr>
                                            </tbody>
                                            <tfoot>
                                                <tr>
                                                    <th>Subtotal</th>
                                                    <td>$750</td>
                                                </tr>
                                                <tr>
                                                    <th>Tax</th>
                                                    <td>$35</td>
                                                </tr>
                                                <tr>
                                                    <th>Total</th>
                                                    <td>$785</td>
                                                </tr>
                                            </tfoot>
                                        </table>
                                    </div>
                                    <h4>Payment Method</h4>
                                    <div class="aa-payment-method">
                                        <label for="cashdelivery"><input type="radio" id="cashdelivery"
                                                name="optionsRadios"> Cash on Delivery </label>
                                        <label for="paypal"><input type="radio" id="paypal" name="optionsRadios"
                                                checked> Via Paypal </label>
                                        <img src="https://www.paypalobjects.com/webstatic/mktg/logo/AM_mc_vs_dc_ae.jpg"
                                            border="30" alt="PayPal Acceptance Mark">
                                        <input type="submit" value="Place Order" class="aa-browse-btn">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
            <% } %>

        </div>
    </div>
</section>
<!-- / Cart view section -->


<% include partials/footer.ejs %>