<% include partials/header.ejs %>
<% include partials/menu.ejs %>


<section id="aa-product-category">
    <div class="container">
        <div class="row">
            <div class="col-lg-9 col-md-9 col-sm-8 col-md-push-3">
                <h1>Gift Collection | YummyCake</h1>
                <div class="main">
                    <ul id="cardItem" class="cards">
                        <% cdata.forEach(function(data){ %>
                        <li class="card_item">
                            <div class="card">
                                <div class="card_image"><img width="100" height="auto"
                                        src="/giftuploads/<%= data.gift_image%>" alt="cake img">
                                    <span id="itemname"><%= data.gift_name%></span>
                                </div>
                                <div class="card_content">
                                    <h2 class="card_title">
                                        <span>Rs. <%= data.gift_price%>
                                        </span></h2>
                                    <a href="/user/add-to-cart/<%= data.gift_id %>" class="card_title"><button>Add to
                                            cart</button>
                                    </a>
                                </div>
                            </div>
                        </li>
                        <% }) %>
                    </ul>
                </div>


            </div>
        </div>
    </div>
</section>

<% include partials/footer.ejs %>