<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <!-- <script src="https://apis.google.com/js/platform.js?onload=renderButton" async defer></script> -->

    <meta name="google-signin-client_id" content="915969573855-vjr1qlcc9pnevsvp0gnlc4lg5jqk508o.apps.googleusercontent.com">
    <link rel="stylesheet" href="/css/main.css" class="href">
    <title>Login</title>


</head>

<body>

    <div class="data">
        <p>Profile Detail</p>
        <img id="pic" class="img-circle" width="100" height="100">
        <p>Email Address0</p>
        <p id="email" class="alert alert-danger"></p>
        <button onclick="onSignOut();" class="btn btn-danger">Signout</button>
    </div>

    <div class="container">
        <form method="POST">
            <div class="form-group">
                <label for="exampleInputEmail1">Email</label>
                <input type="email" class="form-control" id="email" aria-describedby="emailHelp" placeholder="example@gmail.com">
                <small id="emailHelp" class="form-text text-muted">We'll never share your password with anyone
                    else.</small>
            </div>
            <div class="form-group">
                <label for="exampleInputPassword1">Password</label>
                <input type="password" class="form-control" id="password" placeholder="Confirm Password">
            </div>
            <div class="form-check">
                <input type="checkbox" class="form-check-input" id="exampleCheck1">
                <label class="form-check-label" for="exampleCheck1">Remember me</label>
            </div>
        </form>
        <button type="submit" id="loginbtn" class="btn btn-primary">Login</button>

        <div class="g-signin2" id="gSignIn" data-onsuccess="onSignIn"></div>
        <div class="userContent" style="display: none;"> </div>
        <div id="gSignUp">
            <!-- Display Google sign-in button -->
            <a href="/user/register">
                <button class="register">Register</button>
            </a>
        </div>

    </div>

</body>
<script data-main="/js/custom/config.js" src="/js/library/requirejs.js"></script>
<link rel="stylesheet" href="/css/bootstrap.min.css">
<script src="https://apis.google.com/js/client:platform.js" async defer></script>
<!-- <script src="/js/library/jquery-3.3.0.min.js"></script> -->
<script src="/js/library/googleAuth.js"></script>


<script>
    require(['/js/custom/config.js'], function() {
        require(['/js/custom/datatransaction.js']);
        // require(['/js/library/jquery-3.3.0.min.js']);
        // require(["/js/library/apiurl.js"]);
    })
</script>

</html>