<link href="/css/order.css" rel="stylesheet" media="all">

<div id="menu">
    <% cakeresult.forEach(function(data){ %>
    <div class="panel">
        <h1 class="name"><%= data.cake_name %></h1>
        <h2 class="type"><%= data.flavour_name %></h2><span class="price">Rs <%=data.cake_price %></span><span class="abv">4.6%</span>
    </div>
    <div id="orderimg">
        <form id="order">
            <select id="choice" name="choice"></select>
            <!--//needed -->
            <label for="quantity">1</label>
            <input id="quantity" type="range" min="0.5" max="4" value="1" step="0.5" name="quantity" />
            <select id="table" name="table">
                <option value="1" selected="selected">Table 1</option>
            </select>
            <img src="http://localhost:1234/uploads/<%=data.cake_image %>">
            <input id="back" type="reset" value="Cancel" />
            <input id="submit" type="submit" value="Add-To-Cart" />
        </form>
    </div>
    <% })%>

</div>
<script src="/js/library/jquery-3.3.0.min.js"></script>
<script>
    $('.panel').click(function () {
        if (!$(this).hasClass('active')) {
            var index = $(this).index();
            $('#order').removeClass();
            $('#order').addClass('opt' + (index + 1));
            $('#choice').get(0).selectedIndex = index;
            $(this).siblings().addClass('hidden');
            $(this).addClass('active');
            $('#order').delay(800).slideToggle(400);
        }
    });

    $('#back').click(function (e) {
        $('#order').slideToggle(400);
        var self = this;
        setTimeout(function () {
            $('.panel').removeClass('hidden active');
        }, 400);
        e.preventDefault();
    });

    $('#submit').click(function (e) {
        e.preventDefault();
    });

    $('#quantity').on('input change', function () {
        var qv = $('#quantity').val();
        if (qv % 1 != 0) {
            qv = parseInt(qv, 10);
            if (qv == 0) qv = "";
            qv += "½";
        }
        $('label[for="quantity"]').text(qv);
        // TODO: update the price as well
    })</script>