<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="/css/bootstrap.min.css">
  <title>Root page</title>
</head>

<body>
  <div class="container">
    <div class="wrapper">
    <h1>Welcome to <span><%= wt %></span></h1>
  </div>

  <div class="list-group">
    <% redirect.forEach((result) => { %>  
    <a href="<%= result.login %>">  <button type="submit" class="btn btn-warning"> Login</button></a>
     
    <h4 class="list-group-item-heading"><%= result.title %></h4>
    <p class="list-group-item-text"><%= result.subtitle %></p>

    <% }) %>
  </div></div>
</body>

</html>