/* .g-signin2 {
    margin-left: 100px;
    margin-top: 50px;
} */

.data {
    display: none;
}

.register{
    height: 50px;
width: 240px;
background:green;
color: white;
}

.gbtn{
    background-color: #4285f4;
    width: 240px;
    height: 50px;
    color: white;
}