<!-- menu -->
<section id="menu">
    <div class="container">
        <div class="menu-area">
            <!-- Navbar -->
            <div class="navbar navbar-default" role="navigation">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                </div>
                <div class="navbar-collapse collapse">
                    <!-- Left nav -->
                    <ul class="nav navbar-nav">
                        <li><a href="index.html">DASHBOARD</a></li>
                        <li><a href="#">CAKE<span class="caret"></span></a>
                            <ul class="dropdown-menu">
                                <li><a href="/admin/acd">Add cake details</a></li>
                                <li><a href="/admin/af">Add Cake Flavour</a></li>
                                <li><a href="/admin/vc">View Cake Details</a></li>
                            </ul>
                        <li><a href="index.html">Order</a></li>
                        </li>

                        <li><a href="contact.html">Contact</a></li>
                    </ul>
                </div>
                <!--/.nav-collapse -->
            </div>
        </div>
    </div>
</section>
<!-- / menu -->